/**
 * index.scss
 * - Add any styles you want here!
 */

 @import url(social.css);
 .gallery-title {
   font-size: 36px;
   color: #42b32f;
   text-align: center;
   font-weight: 500;
   margin-bottom: 70px;
 }
 
 .gallery-title:after {
   content: "";
   position: absolute;
   width: 7.5%;
   left: 46.5%;
   height: 45px;
   border-bottom: 1px solid #5e5e5e;
 }
 
 .filter-button {
   /*
   font-size: 18px;
   border: 1px solid #42b32f;
   border-radius: 5px;
   text-align: center;
   color: #42b32f;
   margin-bottom: 30px;
   */
 }
 
 .filter-button:hover {
   /*
   font-size: 18px;
   border: 1px solid #42b32f;
   border-radius: 5px;
   text-align: center;
   color: #ffffff;
   background-color: #42b32f;
   */
 }
 
 .btn-default:active .filter-button:active {
   background-color: #42b32f;
   color: white;
 }
 
 .port-image {
   width: 100%;
 }
 
 .gallery_product {
   margin-bottom: 30px;
 }
 
 #wrapper .form .text-input,
 #wrapper .form .textarea,
 #wrapper .form .label,
 #wrapper .form .button {
   padding: 1em 1.5em;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   outline: none;
   line-height: normal;
   border: 1px solid transparent;
   border-radius: 0;
 }
 
 #wrapper .form .text-input,
 #wrapper .form .textarea {
   font: inherit;
   line-height: normal;
   width: 100%;
   box-sizing: border-box;
   display: block;
   padding-left: 0;
   border-bottom-color: rgba(0, 0, 0, 0.3);
   background: transparent;
   outline: none;
   color: black;
 }
 
 #wrapper .form .text-input:placeholder,
 #wrapper .form .textarea:placeholder {
   color: rgba(0, 0, 0, 0.7);
 }
 
 #wrapper .form .text-input:-webkit-autofill,
 #wrapper .form .textarea:-webkit-autofill {
   box-shadow: 0 0 0px 1000px white inset;
   border-top-color: white;
   border-left-color: white;
   border-right-color: white;
 }
 
 #wrapper .form .error.text-input,
 #wrapper .form .error.textarea,
 #wrapper .error .form .text-input,
 #wrapper .form .error .text-input,
 #wrapper .error .form .textarea,
 #wrapper .form .error .textarea {
   border-color: transparent transparent red transparent;
 }
 
 #wrapper .form:not(.has-floated-label) .text-input:active,
 #wrapper .form:not(.has-floated-label) .textarea:active,
 #wrapper .form:not(.has-floated-label) .text-input:focus,
 #wrapper .form:not(.has-floated-label) .textarea:focus {
   border-color: transparent transparent black transparent;
 }
 
 #wrapper .form .label {
   position: absolute;
   z-index: 10;
   pointer-events: none;
   padding-left: 0;
 }
 
 #wrapper .form .label {
   top: 0;
   left: 0;
   color: rgba(0, 0, 0, 0.7);
   -webkit-transition: color 0.3s;
   transition: color 0.3s;
 }
 
 #wrapper .active .form .label,
 #wrapper .form .active .label {
   font-size: 0.75em;
   line-height: 1;
   font-weight: 600;
   text-transform: uppercase;
   padding: 0;
   color: rgba(0, 0, 0, 0.7);
   background: white;
 }
 
 #wrapper .focus .form .label,
 #wrapper .form .focus .label {
   color: black;
 }
 
 #wrapper .form.has-floated-label .field:after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0%;
   border-bottom: 1px solid black;
   -webkit-transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
   transition: width 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
 }
 
 #wrapper .form.has-floated-label .field.focus:after {
   width: 100%;
 }
 
 #wrapper .form .button {
   font: inherit;
   line-height: normal;
   cursor: pointer;
   background-color: black;
   color: white;
   text-transform: uppercase;
   text-align: center;
   letter-spacing: 0.14286em;
 }
 
 #wrapper .form .button:hover,
 #wrapper .form .button:focus,
 #wrapper .form .button:active {
   color: white;
   background: black;
 }
 
 #wrapper .form .button:active {
   position: relative;
   top: 1px;
   left: 1px;
 }
 
 #wrapper .form {
   max-width: 50em;
   margin: 0 auto;
   padding: 1em 2em;
   box-sizing: border-box;
   overflow: hidden;
 }
 
 #wrapper .form .field {
   position: relative;
   width: 100%;
   margin-bottom: 1.5em;
   float: left;
 }
 
 @media screen and (min-width: 40em) {
   #wrapper .form .field.half {
     width: calc(50% - 2em);
     margin-right: 2em;
   }
   #wrapper .form .field.half+.half {
     margin-left: 2em;
     margin-right: 0;
   }
 }
 
 #wrapper .form .field:last-child {
   float: right;
   width: auto;
 }
 
 #wrapper .form .textarea {
   max-width: 100%;
 }
 
 svg path {
   fill: black;
 }
 
 #wrapper a {
   text-decoration: none;
   color: inherit;
 }
 
 #wrapper [id=footer] {
   margin-top: 5vh;
   padding: 5vh 0;
   text-align: center;
 }
 
 #wrapper [id=footer] .container {
   position: relative;
 }
 
 #wrapper [id=footer] .container:before,
 [id=footer] .container:after {
   content: "";
   position: absolute;
   bottom: 100%;
   left: 20px;
   z-index: 10;
   border-top: 2px solid;
   width: 10%;
   margin-bottom: 10vh;
 }
 
 #wrapper [id=footer] .container:after {
   left: auto;
   right: 20px;
 }
 
 #wrapper [id=footer] * {
   display: block;
 }
 
 #wrapper [id=footer] *+* {
   margin-top: 5vh;
 }
 
 #wrapper [id=footer] .logo {
   font-weight: 600;
   font-size: 1.5em;
 }
 
 #wrapper [id=footer] .copy {
   text-transform: uppercase;
   font-size: 0.75em;
   font-weight: 600;
 }
 
 #wrapper .form .active .label {
   background: none;
 }
 
 #wrapper .label {
   background: none;
   width: auto;
 }
 
 #wrapper input {
   display: inherit;
 }
 
 .budget {
   top: -30px !important;
 }
 
 #wrapper .form .active .budget {
   margin-top: 20px;
 }
 
 body {
   background: #f5f5f5;
 }
 
 .dropdown-menu {
   margin: 0.125rem -30px 0 !important;
 }
 
 .btn-adn {
   background-color: #006400;
 }
 
 .btn-adn:focus,
 .btn-adn.focus,
 .btn-adn:hover,
 .btn-adn:active,
 .btn-adn.active,
 .btn-adn:active:hover {
   background-color: #004b00;
 }
 
 .btn-social.btn-lg> :first-child {
   font-size: 1.8rem;
   width: 50px;
 }
 
 @media (max-width: 767px) {
   ul.intro-social-buttons>li {
     display: block;
     margin-bottom: 20px;
     padding: 0;
   }
 }
 
 .brand-color {
   background-color: #222324;
 }
 
 /*Fun begins*/
 
 .tab_container {
   width: 100%;
   margin-right: auto;
 }
 
 input,
 section {
   clear: both;
   padding-top: 10px;
   display: none;
 }
 
 label {
   font-weight: 700;
   font-size: 18px;
   display: block;
   float: left;
   width: 33.3%;
   padding: 1.5em;
   color: #757575;
   cursor: pointer;
   text-decoration: none;
   text-align: center;
   background: #f0f0f0;
 }
 
 #tab1:checked~#content1,
 #tab2:checked~#content2,
 #tab3:checked~#content3,
 #tab4:checked~#content4,
 #tab5:checked~#content5 {
   display: block;
   padding: 20px;
   background: #fff;
   color: #999;
   border-bottom: 2px solid #f0f0f0;
 }
 
 .tab_container .tab-content p,
 .tab_container .tab-content h3 {
   -webkit-animation: fadeInScale 0.7s ease-in-out;
   -moz-animation: fadeInScale 0.7s ease-in-out;
   animation: fadeInScale 0.7s ease-in-out;
 }
 
 .tab_container .tab-content h3 {
   text-align: center;
 }
 
 .tab_container [id^="tab"]:checked+label {
   background: #fff;
   box-shadow: inset 0 4px #536878;
 }
 
 .tab_container [id^="tab"]:checked+label .fa {
   color: #536878;
 }
 
 label .fa {
   font-size: 1.3em;
   margin: 0 0.4em 0 0;
 }
 
 /*Media query*/
 
 @media only screen and (max-width: 930px) {
   label span {
     font-size: 14px;
   }
   label .fa {
     font-size: 14px;
   }
 }
 
 @media only screen and (max-width: 768px) {
   label span {
     display: none;
   }
   label .fa {
     font-size: 16px;
   }
   .tab_container {
     width: 98%;
   }
 }
 
 /*Content Animation*/
 
 @keyframes fadeInScale {
   0% {
     transform: scale(0.9);
     opacity: 0;
   }
   100% {
     transform: scale(1);
     opacity: 1;
   }
 }
 
 .card-footer {
   margin: 0 -15px 0 -15px;
 }
 
 .tab_content p {
   font-family: Lato;
 }
 
 dl,
 dt,
 dd {
   font-family: Lato;
 }
 
 .navbar-light .navbar-nav .nav-link {
   color: rgba(0, 0, 0, 0.9);
 }