body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background: #232323;
  }
  
  div {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
      
    width: 80vmin;
    height: 80vmin;
  
    span {
      --rotate: -10deg;
      
      display: block;
      width: 1vmin;
      height: 6vmin;
      
      background-color: #efefef;
      
      will-change: transform;
      transform: rotate(var(--rotate));
    }
  }
  